<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
	 <link rel="stylesheet" href="navbar.css" type="text/css">
</head>
<body>
  
	<div class="topnav">
		<div>
	<a href="/dashboard">Dashboard</a>
</div>
<div>
	<a href="/createInvitation">Create Invitation</a>
</div>
<div>
	<a href="/inbox">Inbox</a>
</div>
		<div>
			<a href="/notification">Notifications</a>
		</div>
<div>
	<a href="/logout">Logout</a>
</div>
	</div>