<%- include("partials/headerIn") %>
<br>
<br>
<br>
<div>
	<a href="/acceptedInvitations">ACCEPTED INVITATIONS</a>
</div>
<br>
<br>
<br>
<div>
	<a href="/createdInvitations">CREATED INVITATIONS</a>
</div>
<%- include("partials/footerIn") %>